* {
	padding: 0;
	margin: 0;
}

body {
}

td {
	text-align: center;
	border: solid 1px #ffffff;
}

td input[type=submit] {
	max-width: 80px;
	min-width: 80px;
	height: 80px;
	background: #077187;
	border: none;
	color: #ffffff;
	font-family: sans-serif;
	font-weight: bold;
	/*font-size: 20pt;*/
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

.holdCall {
	font-family: sans-serif;
	font-weight: bold;
	border-top: none;
	vertical-align: center;
	padding: 15px;
	border: solid 1px #ffffff;
	color: #353535;
}

td input[type=submit]:hover{
	background: #0896B2;
}

.guiDisplay {
	border: solid 1px #ffffff;
	background: #F8F1FF;
	padding: 15px;
}

.guiDisplay p {
	max-width: 200px;
}

.loginForm {
	border: solid 1px #077187;
	padding: 15px;
	display: inline-block;
}

input[type=text], input[type=password] {
	padding: 4px 10px;
	border: none;
	border-bottom: solid 1px #044856;
	background: none;
}

input[type=text]:focus {
	outline: none;
	border-bottom: solid 1px #EA6500;
}

input[type=text]:disabled {
	background: #E2E2E2;
}

input[type=password]:focus {
	outline: none;
	border-bottom: solid 1px #EA6500;
}

.defaultInput {
	background: #FF6E00;
	color: #E4FDE1;
	border: none;
	font-family: sans-serif;
	padding: 5px 10px;
	/*font-size: 20pt;*/
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

.defaultInput:hover{
	background: #FF7E1C;
}

.imageDiv {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-bottom: 10px;
}

.imageDiv img {
	width: 60px;
	height: 60px;
	float: left;
}

.imagesTd {
}




.devicePanelDiv {
	border-left: solid 1px #077187;
	border-right: solid 1px #077187;
}

.devicePanel {
	min-height: 100vh;
	width: 100%;
	text-align: center;
}

.guiDisplay p {
	margin: 0px;
}


.accessDeviceForm input[type=submit] {
	font-size: 0.8em;
}

.accessDeviceDiv {
	padding: 20px;
	border: 1px solid #077187;
	display: inline-block;
	margin:0 auto;
}

.accessDeviceForm {
	display: inline-block;
	margin:20px auto;
}

.accessDeviceCardRecipient {
	text-align: left;
	display: inline-block;
}

.accessDeviceCardRecipient input[type=submit] {
	margin-top: 10px;
	width: 100%;
}

.accessDeviceCardRecipient input[type=text] {
	width: 100%;
}

.accessDeviceCardRecipient label {
	width: 100%;
}


.holdCall {
	border: 1px dashed #077187;
	padding: 10px;
}

.holdCall label {
	margin-bottom: 0;
	font-family: sans-serif;
}




.loginDiv {
	background: #077187;
}

.loginPanel {
	background: #077187;
	min-height: 100vh;
	width: 100%;
	text-align: center;
}

.loginForm {
	display: inline-block;
	text-align: left;
	margin-top: 100px;
}

.loginForm input[type=text], .loginForm input[type=password] {
	padding: 5px 10px;
	border: none;
	border-bottom: solid 1px #E7ECEF;
	background: #077187;
	caret-color: #E4FDE1;
	color:#E4FDE1;
	font-family: sans-serif;
	margin-top: 10px;
	width: 100%;
}

.loginForm input[type=text]:focus {
	outline: none;
	border-bottom: solid 1px #F77716;
}

.loginForm input[type=password]:focus {
	outline: none;
	border-bottom: solid 1px #F77716;
}

.loginForm input[type=submit] {
	background: #F77716;
	color: #E4FDE1;
	width: 100%;
	margin-top: 30px;
}

.loginForm input[type=submit]:hover {
	background: #F78731;
}

.loginForm input::placeholder {
	color:#BED3BC;
}

.loginForm input:-webkit-autofill,
.loginForm input:-webkit-autofill:hover,
.loginForm input:-webkit-autofill:focus{
	-webkit-text-fill-color: #E4FDE1;
	transition: background-color 5000s ease-in-out 0s;
}

.loginForm h1 {
	color:#E4FDE1;
	font-family: sans-serif;
}

.errorMessageP {
	font-family: sans-serif;
	font-size: 12pt;
	color: #FF1C1C;
	margin: 10px 0 0 0;
}