* {
	margin: 0;
	padding: 0;
	color: #2b2b2b;
}

body {
	padding: 20px;
}

h1 {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 20pt;

}

.defaultInput {
	background: #077187;
	border: none;
	color: #ffffff;
	font-family: sans-serif;
	padding: 5px 10px;
	/*font-size: 20pt;*/
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

input[type=text], input[type=password] {
	padding: 5px 10px;
	border: none;
	border-bottom: solid 2px #CCCCCC;
	background: #f9f9f9;
}

input[type=text]:focus {
	outline: none;
	border-bottom: solid 2px #0896B2;
}

input[type=password]:focus {
	outline: none;
	border-bottom: solid 2px #0896B2;
}

.hiddenInput {
	display: none;
}

.editCardButton {
	display: none;
}

.defaultInput:hover{
	background: #0896B2;
}

.simpleTable {
	border-collapse:separate; 
    border-spacing: 0 7px;
}

.simpleTable th {
	background: #5D737E;
	font-weight: normal;
	font-size: 13pt;
	font-family: sans-serif;
	color: #FCFFFD;
	border-left: solid 1px #FCFFFD;
	border-top: solid 1px #FCFFFD;
	border-bottom: solid 1px #FCFFFD;
	margin: 0;
	padding: 6px 30px;
}

.simpleTable th:last-child {
	border-right: solid 1px #FCFFFD;
}

.simpleTable td {
	border-left: solid 1px #5D737E;
	border-top: solid 1px #5D737E;
	border-bottom: solid 1px #5D737E;
	margin: 0;
	padding: 6px 30px;
	font-size: 12pt;
	font-family: sans-serif;
	text-align: center;
}

.simpleTable td:last-child {
	border-right: solid 1px #5D737E;
}

.imageDiv {
	width: 40%;
	display: inline-block;
}

