<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AccessDevice</title>
    <link rel="stylesheet" th:href="@{/css/accessDevice.css}">
    <script th:inline="javascript">
        /*<![CDATA[*/

        var refreshSeconds = [[${refresh}]];
        if(refreshSeconds != null) {
            setTimeout(function () {
                window.location=window.location;
            }, refreshSeconds * 1000)
        }

        /*]]>*/
    </script>
</head>
<body>
<div class="accessDeviceDiv">
    <form action="AccessDevice" method="post">
        <input type="hidden" name="command" value="buttonsPanelCommand">
        <table cellspacing="0">
            <tr>
                <td colspan="3" class="imagesTd">
                    <div class="imageDiv">
                        <img src="../static/img/lock-solid.svg" th:src="@{/img/lock-solid.svg}" alt="lockedDoor" th:if="${isDoorLocked}">
                        <img src="../static/img/lock-open-solid.svg" th:src="@{/img/lock-open-solid.svg}" alt="unLockedDoor" th:unless="${isDoorLocked}">
                    </div>
                    <div class="imageDiv">
                        <img src="../static/img/volume-up-solid.svg" th:src="@{/img/volume-up-solid.svg}" alt="ringingBell" th:if="${isBellRinging}">
                        <img src="../static/img/volume-off-solid.svg" th:src="@{/img/volume-off-solid.svg}" alt="bell" th:unless="${isBellRinging}">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="guiDisplay"><p th:text="${message}"></p></td>
            </tr>
            <tr>
                <td><input type="submit" name="numberButton" value="1" class="numberButton"></td>
                <td><input type="submit" name="numberButton" value="2" class="numberButton"></td>
                <td><input type="submit" name="numberButton" value="3" class="numberButton"></td>
            </tr>
            <tr>
                <td><input type="submit" name="numberButton" value="4" class="numberButton"></td>
                <td><input type="submit" name="numberButton" value="5" class="numberButton"></td>
                <td><input type="submit" name="numberButton" value="6" class="numberButton"></td>
            </tr>
            <tr>
                <td><input type="submit" name="numberButton" value="7" class="numberButton"></td>
                <td><input type="submit" name="numberButton" value="8" class="numberButton"></td>
                <td><input type="submit" name="numberButton" value="9" class="numberButton"></td>
            </tr>
            <tr>
                <td class="callTd"><input type="submit" name="callButton" value="CALL" class="numberButton"></td>
                <td><input type="submit" name="numberButton" value="0" class="numberButton"></td>
                <td><input type="submit" name="controlButton" value="CONTROL" class="numberButton"></td>
            </tr>
            <tr>
                <td class="holdCall" colspan="3"><label>
                    Hold CALL
                    <input type="checkbox" name="callButtonPress" value="CALL" class="numberButton"
                           onChange="this.form.submit()"
                           th:checked="${callButtonChecked}"/>
                </label></td>
            </tr>
        </table>
    </form>
    <form action="AccessDevice" method="post">
        <input type="hidden" name="command" value="accessCardRecipientCommand">
        <label>
            Access card id:<br>
            <input type="text" name="accessCardId" required th:value="${insertedCardId}">
        </label>
        <br>
        <br>
        <input type="submit" class="defaultInput">
    </form>
</div>

<br>
<form action="AccessDevice" method="post" class="loginForm" style="margin-top: 20px;">
    <p class="errorMessageP" th:text="${loginErrorMessage}"></p>
    <input type="hidden" name="command" value="adminLoginCommand">
    <label>
        Login <br>
        <input type="text" name="adminLogin">
    </label>
    <br>
    <br>
    <label>
        Password <br>
        <input type="password" name="adminPassword">
    </label>
    <br>
    <br>
    <input type="submit" class="defaultInput">
</form>
</body>
</html>
