<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="../static/css/adminPanel.css" th:href="@{/css/adminPanel.css}">

    <script src="../static/jquery-3.4.1.min.js" th:src="@{/jquery-3.4.1.min.js}">
    </script>

    <script>

        function onEditClick(button) {
            var parentTr = $(button).closest('tr');

            parentTr.find('.editCardInputHide').css('display', 'none');
            parentTr.find('.editCardInput').prop('type', 'text');
            parentTr.find('input[type=checkbox]').prop('disabled', false);

            parentTr.find('.editCardButton').css('display', 'inline-block');
        }

        function onCancelClick(button) {
            var parentTr = $(button).closest('tr');

            parentTr.find('.editCardInputHide').css('display', 'inline-block');
            parentTr.find('.editCardInput').prop('type', 'hidden');
            parentTr.find('input[type=checkbox]').prop('disabled', true);

            parentTr.find('.editCardButton').css('display', 'none');
        }

        function onEditSubmitClick(button) {
            var parentTr = $(button).closest('tr');

            var posting = $.post('AdminPanelServlet', parentTr.find('input').serialize());

            posting.done(function( data ) {
                var newDoc = document.open("text/html", "replace");
                newDoc.write(data);
                newDoc.close();
            });

        }

        function onDeleteClick(button) {
            var parentTr = $(button).closest('tr');

            var accessCardId = parentTr.find('input[name=accessCardId]').val();

            var posting = $.post('AdminPanelServlet', {accessCardId: accessCardId, command: "deleteAccessCard"});

            posting.done(function( data ) {
                var newDoc = document.open("text/html", "replace");
                newDoc.write(data);
                newDoc.close();
            });
        }
    </script>
</head>
<body>

<form action="AdminPanelServlet" method="post">
    <input type="hidden" name="command" value="logoutCommand">
    <input type="submit" value="Logout" class="defaultInput">
</form>

<h1 style="margin-top: 20px;">AccessCards table</h1>

<p class="errorMessageP" th:text="${errorMessage}" th:if="${errorMessage != null}"></p>

<table class="simpleTable tableWraper" cellspacing="0">
    <tr>
        <th>AccessCardId</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Schedule begin time</th>
        <th>Schedule end time</th>
        <th>Is card locked</th>
        <th>Action</th>
    </tr>

    <th:block th:each="accessCard : ${accessCards}">
        <tr>
            <input type="hidden" name="command" value="updateAccessCard">
            <input type="hidden" name="accessCardId" th:value="${accessCard.getId()}">
            <input type="hidden" name="accessCardPersonId" th:value="${accessCard.getPerson().getId()}">
            <input type="hidden" name="accessCardScheduleId" th:value="${accessCard.getSchedule().getId()}">
            <td><p th:text="${accessCard.getId()}"></p></td>
            <td>
                <p th:text="${accessCard.getPerson().getName()}" class="editCardInputHide"></p>
                <input class="editCardInput" type="hidden" name="accessCardPersonName" placeholder="Name"
                       th:value="${accessCard.getPerson().getName()}">
            </td>
            <td>
                <p th:text="${accessCard.getPerson().getSurname()}" class="editCardInputHide"></p>
                <input class="editCardInput" type="hidden" name="accessCardPersonSurname" placeholder="Surname"
                       th:value="${accessCard.getPerson().getSurname()}">
            </td>
            <td>
                <p th:text="${accessCard.getSchedule().getBeginTime()}" class="editCardInputHide"></p>
                <input class="editCardInput" type="hidden" name="accessCardScheduleBeginTime"
                       placeholder="Begin time"
                       th:value="${accessCard.getSchedule().getBeginTime()}">
            </td>
            <td>
                <p th:text="${accessCard.getSchedule().getEndTime()}" class="editCardInputHide"></p>
                <input class="editCardInput" type="hidden" name="accessCardScheduleEndTime" placeholder="End time"
                       th:value="${accessCard.getSchedule().getEndTime()}">
            </td>
            <td>
                <input type="checkbox" name="isAccessCardLocked" onChange="this.form.submit()"
                       th:checked="${accessCard.isLocked()}" disabled>
            </td>
            <td>
                <button class="defaultInput editCardInputHide" type="button"
                        onclick="onEditClick(this)">Edit
                </button>
                <button class="defaultInput editCardButton" type="button" onclick="onEditSubmitClick(this)">Update
                </button>
                <button class="defaultInput editCardButton" type="button"
                        onclick="onCancelClick(this)">Cancel
                </button>

                <button class="defaultInput editCardInputHide" type="button"
                        onclick="onDeleteClick(this)">Delete
                </button>
            </td>
        </tr>
    </th:block>

    <tr>
        <form action="AdminPanelServlet" method="post">
            <td><input type="hidden" name="command" value="insertAccessCard">Create new</td>
            <td><input type="text" name="accessCardPersonName" placeholder="Name"></td>
            <td><input type="text" name="accessCardPersonSurname" placeholder="Surname"></td>
            <td><input type="text" name="accessCardScheduleBeginTime" placeholder="Begin time"></td>
            <td><input type="text" name="accessCardScheduleEndTime" placeholder="End time"></td>
            <td><input type="checkbox" name="isAccessCardLocked"></td>
            <td><input type="submit" value="Submit" class="defaultInput"></td>
        </form>
    </tr>
</table>


<h1 style="margin-top: 20px;">Visitors journal</h1>
<table class="simpleTable">
    <tr>
        <th>RecordId</th>
        <th>AccessCardId</th>
        <th>Visit date</th>
    </tr>
    <th:block th:each="visitRecord : ${visitRecords}">
        <tr>
            <td th:text="${visitRecord.getId()}"></td>
            <td th:text="${visitRecord.getAccessCardId()}"></td>
            <td th:text="${visitRecord.getVisitDateTime()}"></td>
        </tr>
    </th:block>
</table>

<h1 style="margin-top: 20px;">Cards locking journal</h1>
<table class="simpleTable">
    <tr>
        <th>RecordId</th>
        <th>AccessCardId</th>
        <th>Locking date</th>
    </tr>
    <th:block th:each="lockCardRecord : ${lockCardRecords}">
        <tr>
            <td th:text="${lockCardRecord.getId()}"></td>
            <td th:text="${lockCardRecord.getAccessCardId()}"></td>
            <td th:text="${lockCardRecord.getLockingDateTime()}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>
